
.weightpg-wrapper{
display: flex;
flex-direction: column;
height: 84vh;
width: 100%;
align-items: center;
justify-content: center;
margin-top: 4vh;
/* border: 5px solid red; */
overflow: hidden;
}
.weight-header{
    width: 100%;
    /* border: 2px solid cornflowerblue; */
}

.weightpg-container{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: row;
    /* border: 5px solid blue; */
}

.weight-display-kernel{
    height: 100%;
    width: 100%;
    /* border: 3px solid black; */
}

.graph-container{
    height: 100%;
    width: 50%;
    max-width: 50%;
    max-height: 100%;
    position: relative;
    /* border: 2px solid #406E8E; */
    padding: 1%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.weight-entries-container{
    width:50%;
    /* border: 3px solid orange; */
    min-height: 10%;
    overflow: scroll;
}
.component-link{
    color: blue;
   text-decoration: none; 
}