*{
    box-sizing: border-box;
}

.dashboard-wrapper {
    display:flex;
    height: 84vh;
    width:100%;
    margin-top: 4vh;
    /* background: url(../assets/athlete-barbell-bodybuilder-949128.jpg); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden; */
    /* backface-visibility: hidden;
    position: relative;
    will-change: over; */
    border: solid cornflowerblue 5px;
}

.display-container{
    height: 100%;
    width: 100%;
    display: flex;
    float: inline-start;
    overflow: hidden;
    border: 4px solid blue;
    
}

.workout-container{
    height: 100%;
    width: 33.3%;
    min-width: 33%;
    padding: .05%;
    overflow: scroll ;
    border: 3px solid orange;
}

.dash-goals-container{
    height: 100%;
    width:33.3%;
    min-width: 33%;
    padding: .05%;
    justify-content: center;
    border: 3px chartreuse solid;
}
.dash-goals-img{
    height: 60%;
    width: 60%;
}

.weight-container{
    height: 100%;
    width: 33.3%;
    min-width: 33%;
    padding: .05%;
    flex-flow: column;
    overflow: scroll;
    border: 3px solid purple;
}
