*{
    box-sizing: border-box;
}

.dashboard-wrapper {
    display:flex;
    height: 84vh;
    width:100%;
    margin-top: 4vh;
}

.display-container{
    height: 100%;
    width: 100%;
    display: flex;
    float: inline-start;
    overflow: hidden;
    
}

.workout-container{
    height: 100%;
    width: 33.3%;
    min-width: 33%;
    overflow: scroll ;
}

.dash-goals-container{
    height: 100%;
    width:33.3%;
    min-width: 33%;
    padding: .05%;
    justify-content: space-around;
    align-content: space-around;
    /* border: 3px chartreuse solid; */
}
.dash-goals-wrapper{
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */
}
.dash-goals-img{
    height: 50%;
    min-height: 40%;
    width: 50%;
    min-width: 40%;
    
    /* border: 2px solid red; */
}

.weight-container{
    height: 100%;
    width: 33.3%;
    min-width: 33%;
    padding: .05%;
    flex-flow: column;
    overflow: scroll;
    /* border: 3px solid purple; */
}
