.nav-wrapper {
    background-color: #6B6B6B;
    display: flex;
    justify-content: flex-end;
    height: 4vh;
    width:100vw;
    position: absolute;
    z-index: 10;
    overflow: hidden;

}

.nav-items {
    width: 50vw;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-evenly;

}

.nav-link {
    color: #d9e5d6;
    text-decoration: none;

}
.nav-link:hover{
    background-color: darkgrey;
}

.profile-pic{
    border-radius: 50%;
    max-height: 35px;
    max-width: 35px;
}