.header-container{
    background-image: linear-gradient(to bottom right, #152d44, #406E8E);
    height: 6vh;
}

.title-container{
    color: #d9e5d6;

    float: left;
    margin-left: 10%;
    margin-top: 2px;
    
    
}

.header-e{

    text-shadow: 2px 3px 3px #292929;
    font-weight: 300;
    font-size: 275%;
    text-align: baseline;
    
}
.header-rest{
    font-size: 200%;
    
}