.basal-wrapper{
  border: 3px solid red;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;

}


.basal-container{
    margin-top: 4vh;
    width: 30vw;
}
