textarea, select, input, button { outline: none; }

.auth-wrapper {
   
    height: 100vh;
    width:100%;
    background: url(../assets/athlete-barbell-bodybuilder-949128.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;

}

.auth-content {
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    color: #d9e5d6;
}
.auth-header{
    height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #d9e5d6;
    font-size: 150%;
    font-family: 'sans-serif-thin';
    /* border: 3px solid orange; */
}
.auth-body{
    height: 20vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid blue; */
}
.auth-btn-cntr{
    margin: 2px;
}

.auth-button{
    font-size: 16px;
    color: #d9e5d6;
    background-color: #406E8E;
    line-height: 16px;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;

}