.ftr-container{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    height: 6vh;
    display:inline-block;

}

.ftr-container{
    background-color: #6B6B6B;
    text-align: center;

}

.footer-img{
    vertical-align: middle;
    height: 30px;
    width: 30px;
    margin:5px;

}