/* textarea, select, input, button { outline: none; } */
#element { margin:0; padding:0; font-size:100%; line-height:1; }
 
.eqp-wrapper{
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    flex-direction: column;
     overflow: scroll;
    
}
.eqp-container-wrapper{
    height:84vh;
    margin: 2px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    overflow: scroll;
}
.headerContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    height: 5vh;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: red;
    margin: 1px;
    margin-left: 5px;
    padding: 3px;
    // margin-top: 10vh;
}

.equipmentDiv {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  
}

.equip-btn {
    display: flex;
    flex-direction: row;
}

.exerciseByEquipment {
    height: 95%;
    width: 80vw;
    background-color: #1B998B;
    padding: 5px;
    margin: 1px;
    overflow: scroll;
    
}

.containerDiv {
    height: 200px;
    min-height: 200px;
    margin: 5px;
    padding: 5px;
    width: 50vw;
    border: solid white 2px;
    background-color: #004E64;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
   
}
// .containerDivHeader {
    
//     /* align-items: baseline;
//     justify-content: flex-start */
// }
