/* textarea, select, input, button { outline: none; } */
#element { margin:0; padding:0; font-size:100%; line-height:1; }
 
.eqp-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: scroll;
    border: solid 2px black;
}
.eqp-container-wrapper{
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    border: solid 2px green;
}
.headerContainer {
    height: 5vh;
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
    padding: 3px;
    border: solid orange 2px;
}

.equipmentDiv {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  
}

.equip-btn {
    display: flex;
    flex-direction: row;
}

.exerciseByEquipment {
    height: 95%;
    width: 80vw;
    background-color: #1B998B;
    padding: 5px;
    margin: 1px;
    overflow: scroll;
    
}

.containerDiv {
    height: 25%;
    min-height: 25%;
    max-height: 25%;
    width: 95%;
    margin: 5px;
    padding: 5px;
    border: solid white 2px;
    background-color: #004E64;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
   
}

